
.container-fluid {
  min-height: 1000px;
  margin-top: 20px;
  background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
