
.container-fluid {
  min-height: 1000px;
  margin-top: 20px;
  /* background-color: #000000; */
  background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.media {
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-top: 20px;
  
}
.rounded.img-fluid {
  width: 320;
  height: 280px;
}

.link-image {
  cursor: pointer;
}

.row.order {
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 20px;
}

